* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
}

.container {
  max-width: 1199px;
  margin: 0 auto;
}

.about {
  background-image: url("../img/bg15.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 85px;
}
.about .about_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.about .about_content .about_content_left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.about .about_content .about_content_left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.about .about_content .about_content_right {
  width: 50%;
}
.about .about_content .about_content_right .about_content_right_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
  color: #f55f8d;
}
.about .about_content .about_content_right .about_content_right_title h2 {
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 20px;
  font-weight: 800;
}
.about .about_content .about_content_right p {
  margin-bottom: 15px;
}
.about .about_content .about_content_right ul {
  margin-bottom: 30px;
}
.about .about_content .about_content_right li {
  font-size: 16px;
  list-style: none;
}
.about .about_content .about_content_right li i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
.about .about_content .about_content_right button {
  color: white;
  padding: 20px 35px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
}

.blog {
  background-image: url("../img/bg16.png");
}

.carousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url("../img/pic2.png");
  display: flex;
  justify-content: space-between;
}
.carousel .carousel_content {
  display: flex;
  justify-content: space-between;
}
.carousel .carousel_content .carousel_content_left .carousel_content_left_title p {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
}
.carousel .carousel_content .carousel_content_left .carousel_content_left_title h2 {
  font-size: 70px;
  margin: 0 0 20px;
}
.carousel .carousel_content .carousel_content_left .carousel_content_left_artical p {
  font-size: 18px;
  margin: 0 0 15px;
}
.carousel .carousel_content .carousel_content_left .carousel_content_left_artical li {
  list-style: none;
  padding: 10px 5px 10px 0;
}
.carousel .carousel_content .carousel_content_left .carousel_content_left_artical i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: white;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200;
  margin-right: 10px;
}
.carousel .carousel_content .carousel_content_left .carousel_content_left_artical button {
  color: white;
  padding: 20px 35px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  background-size: 200;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all 0.5;
  margin-top: 20px;
}
.carousel .carousel_content .carousel_content_right .carousel_content_right_image img {
  line-height: 10px;
}

.features {
  background-image: url("../img/bg2.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
  padding-top: 115px;
}
.features .features_content {
  display: flex;
}
.features .features_content .features_content_left .features_content_left_title p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #f55f8d;
}
.features .features_content .features_content_left .features_content_left_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 20px;
}
.features .features_content .features_content_left .features_content_left_group .features__bg {
  display: flex;
}
.features .features_content .features_content_right {
  width: 50%;
}
.features .features_content .features_content_right .features_content_right_image {
  margin-right: -80px;
}
.features .features_content .features_content_right .features_content_right_image img {
  max-width: 100%;
}

footer {
  background-image: url("../img/bg4.png");
  display: block;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: white;
  font-size: 15px;
  position: relative;
}
footer .footer_content .footer_content_top {
  padding: 50px 60px;
  background-image: url("../img/pattern3.png");
  background-color: white;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
footer .footer_content .footer_content_top .footer_content_top_text h2 {
  font-size: 28px;
  color: black;
  position: relative;
}
footer .footer_content .footer_content_top .footer_content_top_from input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400%;
  color: #888;
  background-color: white;
  flex: 1 1 auto;
}
footer .footer_content .footer_content_top .footer_content_top_from button {
  color: white;
  padding: 25px 35px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
  font-size: 20px;
}
footer .footer_copyright {
  background-color: #1f343b;
  padding-inline-start: 10px;
  position: relative;
}
footer .footer_copyright .footer_copyright_title {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
}
footer .footer_copyright .footer_copyright_title span {
  color: #f55f8d;
}
footer .footer_copyright .footer_copyright_social {
  display: flex;
  justify-content: end;
  gap: 5px;
}
footer .footer_copyright .footer_copyright_social a {
  color: white;
  border-radius: 50px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content .nav-content {
  display: flex;
  align-items: center;
}
header .header-content .nav-content ul {
  display: flex;
  list-style: none;
}
header .header-content .nav-content ul li {
  padding: 55px 15px;
}
header .header-content .nav-content ul li a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
}
header .header-content .nav-content ul li a span {
  display: inline-block;
}
@keyframes uptodown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
    color: black;
  }
  100% {
    color: #f55f8d;
    transform: translateY(0px);
    opacity: 1;
  }
}
header .header-content .nav-content ul li a:hover span {
  animation: uptodown 0.3s forwards;
}
header .header-content i {
  font-size: 9px;
  margin-top: -5px;
  vertical-align: middle;
}
header .header-content .header-content-button {
  margin: 0 20px;
}
header .header-content .header-content-button button {
  color: white;
  padding: 20px 35px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
}

.number {
  background-image: url("../img/bg14.png");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 0 50px;
}
.number .number_content {
  display: flex;
  justify-content: space-around;
}
.number .number_content .number_content_item {
  width: 25%;
}
.number .number_content .number_content_item i {
  font-size: 45px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  color: white;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number .number_content .number_content_item .first {
  font-size: 65px;
  color: #f55f8d;
  font-weight: 800;
  line-height: 1;
}
.number .number_content .number_content_item p {
  font-size: 18px;
}

.portfolio {
  background-image: url("../img/bg17.png");
}

.services {
  padding-top: 115px;
  padding-bottom: 115px;
  background-image: url("../img/bg2.png");
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.services .service_title p {
  font-size: 22px;
  font-weight: 600;
  color: #f55f8d;
  margin-bottom: 20px;
}
.services .service_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 20px;
}
.services .service_content {
  display: grid;
  grid-template-columns: 3, 1fr;
  gap: 30px;
  margin-top: 40px;
}
.services .service_content .service_content_item {
  border: 3px solid transparent;
  border-image: 100 round;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
}
.services .service_content .service_content_item:hover {
  transform: translateX(-20px);
  background-image: url("./img/br.png");
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  color: white;
  right: 15px;
  bottom: 15px;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
}/*# sourceMappingURL=style.css.map */