.number {
    background-image: url("../img/bg14.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px 0 50px;

    .number_content {
        display: flex;
        justify-content: space-around;

        .number_content_item {
            width: 25%;

            i {
                font-size: 45px;
                background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
                background-size: 200%;
                color: white;
                width: 80px;
                height: 80px;
                line-height: 80px;
                display: inline-block;
                border-radius: 50%;
                margin-bottom: 15px;
            }

            .first {
                font-size: 65px;
                color: $color-pink-theme;
                font-weight: 800;
                line-height: 1;
            }

            p {
                font-size: 18px;
            }
        }
    }
}